body{background-color: black;}
h1{font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    color: white;  
    text-transform: uppercase;
    }
p{color: white;  }
img{border: 5px solid white; width: 100%; }
div{margin-left: 25%; 
    width: 50%; }

